@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../../../../deployedfiles/common/R2016/Estaticos/css/fonts/OpenSans-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }
    
    @font-face {
    font-family: 'OpenSans-ExtraboldItalic';
    src: url('../../../../deployedfiles/common/R2016/Estaticos/css/fonts/OpenSans-ExtraboldItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#contadorCapa{
    width: 355px;
    z-index: 99;
    /* position: absolute; */
    left: 17%;
    bottom: 6rem;
    display:block;
    opacity: 1;
}
#contadorCapa.right{
    float: right;
}
#contadorCapa.center{
    margin-left: auto;
    margin-right: auto;
}

#contadorCapa ul{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
#contadorCapa ul.literales_contador{
    /* position: absolute; */
    left: 0;
}

#contadorCapa li#counter_day{
    width: 110px;
    font-size: 8rem;
    height: 66px;
    padding-left: 0.5rem;
    line-height: 5rem;
    padding-bottom: 0;
}

#contadorCapa ul li{
    list-style: none outside none;
    letter-spacing: 0;
    color: #E7E7E7;
    font-size: 5rem;
    line-height: 3rem;
    padding: 0;
    background: none;
    font-family: "OpenSans-ExtraboldItalic";
    border-right: 1px solid #eee;
    width: 70px;
    height: 44px;
    text-align: left;
    /* padding-bottom: 1rem; */
}
#contadorCapa ul.literales_contador li{
    font-size: 12px;
    color: #333333;
    letter-spacing: 0px;
    width: 24%;
    text-align: right;
    background: #eee;
    padding-right: 1rem;
    line-height: 2rem;
    font-family: "OpenSans-ExtraBoldItalic";
    height: auto;
    padding: 0;
    width: 71px;
    padding-right: 1rem;
}
#contadorCapa ul.literales_contador li.dias{
    width: 110px;
}
/*html[lang="ca"] #contadorCapa ul.literales_contador li.minutos{
    margin-right: 24px;
}*/

#contadorCapa ul.literales_contador li.horas{
    /* margin-left: 15px!important; */
}
#contadorCapa ul.literales_contador li.segundos{
    /* margin-left: 15px!important; */
}

#contadorCapa.ocultar{
    display: none;
}

/*@media (max-width: 992px){*/
.hm-slide-text.contador-m{
    /* margin-top: 8rem; */
}

#contadorCapa{
    position: relative;
    display: block;
    width: 300px;
    top: 4px;
    left: 0;
    bottom: auto;
}

.hm-slide.hm-text-center #contadorCapa{
    margin: 5px auto 10px;
}
.hm-slide.hm-text-left #contadorCapa{
    /* margin-left: auto; */
}

#contadorCapa ul li{
    color: #007DAD;
    border-color: transparent;
    position: relative;
}

#contadorCapa ul.literales_contador{
margin-top:0;
}

#contadorCapa li#counter_day,
#contadorCapa ul.literales_contador li.dias{
    width: 75px;
}
#contadorCapa li#counter_day{
    font-size: 5rem;
    line-height: 3rem;
    height: 44px;
    border-right: 2px solid #f4c53d;
}
#contadorCapa ul.literales_contador li.dias{
    background: #f4c53d;
}

#contadorCapa li#counter_min:before,
#contadorCapa li#counter_second:before{
    content:":";
    position: absolute;
    left: -1.5rem;
    top: -0.2rem;
    font-size: 4.5rem;
}
/*}*/

#contadorCapa + .hm-slide-title h2{
    line-height: 3rem;
}

@media (max-width:992px){
    #contadorCapa {
        margin: 0 auto 2rem;
    }
}

/* START #84434 - Contador dentro campaÃƒÂ±a vista destacado */
.hm-cmp-title #contadorCapa {
    width: 100%;
    margin-bottom: 2rem;
}

/* Destacado doble */
.hm-cmp-item-double .hm-cmp-title #contadorCapa {
    max-width: 250px;
}

.hm-cmp-title #contadorCapa li#counter_day, .hm-cmp-title #contadorCapa ul.literales_contador li.dias{
    width: 65px;
}

.hm-cmp-title #contadorCapa ul.literales_contador li,
.hm-cmp-title #contadorCapa ul li{
    width: 50px;
}

@media screen\0 { 
    .hm-cmp-title #contadorCapa ul.literales_contador li,
    .hm-cmp-title #contadorCapa ul li{
        width: 60px;
        float: left;
    }
}

.hm-cmp-title #contadorCapa li#counter_day,
.hm-cmp-title #contadorCapa li#counter_hour,
.hm-cmp-title #contadorCapa li#counter_min,
.hm-cmp-title #contadorCapa li#counter_second {
    font-size: 4rem;
}

.hm-cmp-title #contadorCapa li#counter_min:before,
.hm-cmp-title #contadorCapa li#counter_second:before{
    font-size: 4rem;
}

@media (max-width: 1200px){
    .hm-cmp-title #contadorCapa li#counter_day, .hm-cmp-title #contadorCapa ul.literales_contador li.dias{
        width: 50px;
    }
    .hm-cmp-title #contadorCapa ul.literales_contador li,
    .hm-cmp-title #contadorCapa ul li{
        width: 50px;
    }
    .hm-cmp-title #contadorCapa li#counter_day,
    .hm-cmp-title #contadorCapa li#counter_hour,
    .hm-cmp-title #contadorCapa li#counter_min,
    .hm-cmp-title #contadorCapa li#counter_second {
        font-size: 3.5rem;
    }
    .hm-cmp-title #contadorCapa li#counter_min:before,
    .hm-cmp-title #contadorCapa li#counter_second:before{
        font-size: 3.5rem;
    }
    /* .hm-cmp-title #contadorCapa li#counter_min:before, 
    .hm-cmp-title #contadorCapa li#counter_second:before{
        left: -1.2rem;
    } */
}

@media (max-width: 992px){
    .hm-cmp-title #contadorCapa li#counter_day, 
    .hm-cmp-title #contadorCapa ul.literales_contador li.dias{
        width: 70px;
    }
    .hm-cmp-title #contadorCapa ul.literales_contador li,
    .hm-cmp-title #contadorCapa ul li{
        width: 60px;
        text-align: center;
    }
    .hm-cmp-title #contadorCapa li#counter_day,
    .hm-cmp-title #contadorCapa li#counter_hour,
    .hm-cmp-title #contadorCapa li#counter_min,
    .hm-cmp-title #contadorCapa li#counter_second {
        font-size: 4rem;
    }
    .hm-cmp-title #contadorCapa li#counter_min:before,
    .hm-cmp-title #contadorCapa li#counter_second:before{
        font-size: 4rem;
    }
    .hm-cmp-title #contadorCapa li#counter_min:before, 
    .hm-cmp-title #contadorCapa li#counter_second:before{
        left: -0.7rem;
    }
}

@media (max-width: 600px){
    .hm-cmp-title #contadorCapa li#counter_day,
    .hm-cmp-title #contadorCapa ul.literales_contador li.dias{
        width: 25%;
        height: auto;
    }
    .hm-cmp-title #contadorCapa ul.literales_contador li,
    .hm-cmp-title #contadorCapa ul li{
        width: 25%;
        height: auto;
        text-align: center;
        padding: 0;
        font-size: 0.8rem;
    }
    .hm-cmp-title #contadorCapa li#counter_day,
    .hm-cmp-title #contadorCapa li#counter_hour,
    .hm-cmp-title #contadorCapa li#counter_min,
    .hm-cmp-title #contadorCapa li#counter_second {
        font-size: 2rem;
    }
    .hm-cmp-title #contadorCapa li#counter_min:before,
    .hm-cmp-title #contadorCapa li#counter_second:before{
        font-size: 2rem;
        left: -10%;
    }
}
/* @media (max-width: 374px){
    .hm-cmp-title #contadorCapa {
        margin-left: -5%;
    }
} */
/* END #84434 -  Contador dentro campaÃƒÂ±a vista destacado*/

/* Contador 2020 */
#contador2020 #contadorCapa ul li {
    width: 62px;
    text-align: center;
    border-right: 0;
    padding-right: 0;
    color: #FFF;
    font-weight: bold;
}

#contador2020 #contadorCapa ul:first-child li {
    background: #605F5E;
    height: 62px;
    line-height: 6rem;
    font-size: 3.5rem;
}
#contador2020 #contadorCapa ul.literales_contador li {
    background: transparent;	
    color: #605F5E;
}
#contador2020 #contadorCapa li#counter_hour:before,
#contador2020 #contadorCapa li#counter_min:before, 
#contador2020 #contadorCapa li#counter_second:before {
    content: ":";
    position: absolute;
    left: -1.2rem;
    top: -0.2rem;
    font-size: 2.5rem;
    color: #605F5E;
}

/* Contador 2020 en sticky */
#bottom_sticky #contador2020 #contadorCapa {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 0 auto;
    background: #FFF;
    top: 0;
    right: 0;
    width: 100%;
}
#bottom_sticky #contador2020 #contadorCapa:before {
    width: 10px;
    height: 10px;
    position: absolute;
    content: '';
    bottom: -5px;
    left: 48%;
    -webkit-box-shadow: 0px 5px 5px -1px #0000003b;
    box-shadow: 3px 3px 5px -1px #0000003b;
    background: linear-gradient(to bottom right, #fff 0%, #fff 50%, #fff 50%, #fff 100%);
    transform: rotate(45deg);
    z-index: 2;
}
#bottom_sticky #contador2020 #contadorCapa::after {
    content: '';
    width: 100%;
    position: relative;
    bottom: 0;
    height: 7px;
    -webkit-box-shadow: 0px 5px 5px -1px #0000003b;
    box-shadow: 0px 5px 5px -1px #0000003b;
}
#bottom_sticky #contador2020 .button-link{
    margin-top: 5px;
}
#bottom_sticky #contador2020 .button-text {
    background: #FFF8C5;
}
#bottom_sticky #contador2020 .button-text p {
    color: #000;
}
#bottom_sticky #contador2020 #contadorCapa ul {
    width: 255px;
}
#bottom_sticky #contador2020 #contadorCapa ul li {
    color: #000 !important;
    background: #FFF !important;
    font-size: 4.5rem;
    width: auto!important;
}
#bottom_sticky #contador2020 #contadorCapa ul li:before {
    content: none;
}
#bottom_sticky #contador2020 #contadorCapa ul.literales_contador li {
    font-size: 1.5rem;
    text-transform: uppercase;
}
#bottom_sticky #contador2020 .button-text {
    margin: 0;
    border-radius: 0;
}
#bottom_sticky #contador2020 .button-text:before {
    content: none;
}

/* Destacados centrales 2020 */
#contador2020.hm-cmp #contadorCapa {
    position: relative;
    margin-top: 0;
    margin-left: 0;
    right: 0;
}

#contador2020.hm-cmp #contadorCapa li#counter_day {
    border: none;
}

#contador2020.hm-cmp #contadorCapa li {
    padding: 0;
    width: 55px;
    height: 55px;
    line-height: 5.5rem;
}

#contador2020.hm-cmp #contadorCapa ul:first-child li {
    height: 55px;
    line-height: 5.5rem;
}

#contador2020.hm-cmp #contadorCapa ul.literales_contador li {
    color: #605F5E;
    height: 20px;
    line-height: 3rem;
}

#contador2020.hm-cmp #contadorCapa li#counter_hour:before,
#contador2020.hm-cmp #contadorCapa li#counter_min:before, 
#contador2020.hm-cmp #contadorCapa li#counter_second:before {
    left: -0.9rem;
    color: #605F5E;
}

@media (min-width: 992px) {
    #contador2020 #contadorCapa {
        position: absolute;
        margin-left: 0;
        right: -84%;
        left: auto;
        /*top: -25px;*/
        top: auto;
    }
    #main-promo #contador2020 #contadorCapa {
        /*top: 70px;*/
    }
    /*
    #contador2020 #contadorCapa ul.literales_contador li {
        color: #fff;
    }
    */
}

@media (min-width: 1200px) {
    #contador2020 #contadorCapa {
        right: -75%;
    }
    #main-promo #contador2020 #contadorCapa {
        /*top: 70px;*/
    }
}